// Brandbar
.brandbar{
    height: 10vh;
    padding-left: 50px;
    position: relative;
    z-index: 9999;

        a{
            height: 100%;

            img{
                display: inline;
                // padding-right: 30px;
                opacity: 1;
                @include transition(opacity .5s ease-out);
    
                &:hover{
                    opacity: .75;
                }
            }
            .hearthstoneLogo{
                height: 90%;
            }
            .blizzardLogo{
                margin-left: 0.8%;
                height: 90%;
            } 
    }

 
}